<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask3 Example</title>

    <style>
        span{
            color: burlywood;
            font-size: 1.5em;
        }
    </style>
</head>

<body>

    <p>say hello to my little friend <span> {{thing}} </span>.</p>
    <p>alas,it just destroyed <span> {{place}} </span></p>
</body>

</html>